<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title> Cat Collector </title>
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/stykes.css' %}">
        </head>
        <body>
            <header>
                A game where you collect cats !
            </header>
            <main>
                <h1>Cat collector</h1>
                <h2>Is a game where you collect cats</h2>
            </main>
            <footer>
            </footer>
        </body>
        </html>
        